body{
	background-color:white;	
}
header{
	height:50px;
	border:2px solid black;
	background-color:green;
	text-align:center;
	padding:10px;
	font-weight:bold;
	font-size:30px;
}
section{
	height:800px;
	background-image: url(bg3.jpg), url(bg1.jpg);
	background-position:  right bottom,left top;
	background-repeat: no-repeat, repeat;
}

#leaf {
	width:200px;
	height:120px;
	background-color:green;
	border-width:4px 30px 4px 30px;
	border-style:solid;
	border-color:blue blue red red;
	border-radius:0 120px 0 120px;
	-webkit-border-radius:0 120px 0 120px; 
}